.bold {
  padding-right: 10px;
  font-weight: bold;
}

.spaced {
  padding: 5px;
  padding-left:20px;
  padding-right:20px;
}

.h-spaced {
  padding: 10px;
  padding-left:190px;
}

.content_container {
  width: 500px;
  margin: 0 auto;
}

.game_pokeball {
	
}